$font-stack: "Tenor Sans", sans-serif;
$font-weight: 400;                     // Определите переменную для веса шрифта
$font-style: normal;                   // Определите переменную для стиля шрифта
$main-color: hsl(120, 84%, 12%);
$button-color: rgb(103, 156, 103)