$tenor-sans-font-family: "Tenor Sans", sans-serif;
$tenor-sans-font-weight: 400;
$tenor-sans-font-style: normal;

$great-vibes-font-family: "Great Vibes", cursive;
$great-vibes-font-weight: 400;
$great-vibes-font-style: normal;

$main-color: hsl(120, 84%, 12%);
$button-color: hsl(120, 72%, 80%)