$tenor-sans-font-family: "Tenor Sans", sans-serif;
$tenor-sans-font-weight: 400;
$tenor-sans-font-style: normal;

$caveat-font-family: "Caveat", serrif;
$caveat-font-weight: 400;
$caveat-font-style: normal;

$main-color: hsl(120, 84%, 12%);
$button-color: hsl(92, 36%, 65%);