@use 'base/variables' as vars;
@use 'blocks/promo' as promo;
@use 'blocks/header' as head;
@use 'blocks/advantages' as adv;
@use 'blocks/title' as tit;
@use 'blocks/consultation' as cons;
@use 'blocks/forms' as forms;
@use 'blocks/carousel' as car;
@use 'blocks/catalog' as cat;
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
    // Используем Tenor Sans по умолчанию
    font-family: vars.$tenor-sans-font-family;
    font-weight: vars.$tenor-sans-font-weight;
    font-style: vars.$tenor-sans-font-style;
}
h1, h2 {
    // Применяем Great Vibes для заголовков h1
    font-family: vars.$caveat-font-family;
    font-weight: vars.$caveat-font-weight;
    font-style: vars.$caveat-font-style;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
// Медиазапросы для адаптации под различные устройства
@media (max-width: 1200px) {
    .container {
        max-width: 90%; // Уменьшение ширины для больших экранов
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 85%; // Уменьшение ширины для планшетов
    }
    * {
        font-size: 14px; // Уменьшение размера шрифта для планшетов
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%; // Полная ширина для мобильных устройств
        padding: 0 15px; // Добавление боковых отступов для мобильных
    }
    * {
        font-size: 13px; // Уменьшение размера шрифта для мобильных устройств
    }
}
@media (max-width: 575px) {
    * {
        font-size: 12px; // Минимальный размер шрифта для самых маленьких экранов
    }
}