@use 'base/variables' as vars;
.button {
    width: 150px;
    height: 30px;
    background-color: vars.$button-color;
    border: none;
    color: vars.$main-color;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        margin: 10px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}
/* Адаптация под разные разрешения */
@media (max-width: 1200px) {
    .button {
        width: 130px; /* Уменьшение ширины кнопки */
        height: 28px; /* Уменьшение высоты кнопки */
        font-size: 11px; /* Уменьшение размера шрифта для планшетов */
    }

    &_main {
        width: 250px; /* Уменьшение ширины основной кнопки на планшетах */
        height: 46px; /* Уменьшение высоты основной кнопки */
        font-size: 14px; /* Уменьшение шрифта основной кнопки */
    }
}

@media (max-width: 992px) {
    .button {
        width: 120px; /* Дальнейшее уменьшение ширины */
        height: 25px; /* Уменьшение высоты кнопки */
        font-size: 10px; /* Уменьшение размера шрифта */
    }

    &_main {
        width: 220px; /* Уменьшение ширины основной кнопки на маленьких экранах */
        height: 44px; /* Уменьшение высоты основной кнопки */
    }
}

@media (max-width: 767px) {
    .button {
        width: 100px; /* Максимально уменьшенная ширина для мобильных */
        height: 22px; /* Минимальная высота кнопки */
        font-size: 9px; /* Уменьшение размера шрифта */
    }

    &_main {
        width: 200px; /* Уменьшение ширины основной кнопки для мобильных */
        height: 40px; /* Высота кнопки для мобильных */
    }
}

@media (max-width: 575px) {
    .button {
        width: 90px; /* Окончательное уменьшение ширины */
        height: 20px; /* Окончательное уменьшение высоты */
        font-size: 8px; /* Минимальный размер шрифта для мобильных устройств */
    }

    &_main {
        width: 180px; /* Минимизация ширины основной кнопки */
        height: 36px; /* Минимизация высоты основной кнопки */
    }
}