@use 'base/variables' as vars;
.carousel {
    background: url(../img/bg_kar.png) center / cover no-repeat;
    padding: 40px 0;
    &__inner {
        position: relative;
        width: 450px;
        margin: 0 auto;
        
    }
.slick-prev {
    border: none;
    margin: 10px 110px; 
}
.slick-next {
    border: none;
    margin: 10px 100px;
}
}