@use 'base/variables' as vars;
.catalog {
    padding: 40px 0;
    min-height: 600px;
    &__tabs {
        margin-top: 20px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid vars.$main-color;
        color: vars.$main-color;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px vars.$main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: vars.$main-color;
            background-color: hsl(120, 72%, 80%);
            border: none;
        }
    }
    &__content {
        margin-top: 30px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;           
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 800;
            color: vars.$main-color;
            text-align: center;
        }
        &__descr {
            margin-top: 18px;
            color: vars.$main-color;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 15px;
            color: vars.$main-color;
            font-size: 20px;
            font-weight: 600;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: vars.$main-color;
            }
        }
        hr {
            background-color: hsl(120, 84%, 12%);
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: vars.$main-color;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price {
            color: vars.$main-color;
            font-size: 18px;
            font-weight: 800;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            padding-right: 20px;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                color: vars.$main-color;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 20px;
                &:befor {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color:  vars.$main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &_back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: vars.$main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: #000000;
                ;
            }
        }
    }
}
// Медиазапросы для адаптивности
@media (max-width: 1200px) {
    .catalog {
        // Измените настройки стилей для устройств с шириной до 1200px.
        &-item {
            width: 280px; // Уменьшаем ширину
        }
    }
}

@media (max-width: 992px) {
    .catalog {
        padding: 20px 0; // Уменьшаем внешний отступ

        &__tab {
            width: 180px; // Уменьшаем ширину табов
        }

        &-item {
            width: 100%; // Устанавливаем ширину в 100% для мобильных
        }
    }
}

@media (max-width: 767px) {
    .catalog {
        &__tab {
            width: 150px; // Еще меньше ширина табов
        }

        &-item {
            margin-bottom: 15px; // Уменьшаем расстояние между элементами
        }
    }
}

@media (max-width: 575px) {
    .catalog {
        &__tab {
            height: 40px; // Уменьшаем высоту табов
            font-size: 14px; // Меньший шрифт для табов
        }

        &-item {
            width: 100%; // Подгоняем ширину под 100% для маленьких экранов
            min-height: 300px; // Уменьшаем минимальную высоту элемента
            padding: 10px; // Уменьшаем внутренние отступы
        }
    }
}