@use 'base/variables' as vars;
.consultation {
    min-height: 680px;
    background: url('../img/bg_2.png') center / cover no-repeat;
    padding: 35px 30px 80px 23px;
    &__descr {
        color: vars.$main-color;
        font-size: 20px;
        font-weight: 700;
        padding: 20px 0 0 250px;
    }
    /* Адаптация под разные разрешения */ 
    @media (max-width: 1200px) {
        padding: 30px 20px; /* Уменьшение отступов для планшетов */
        &__descr {
            padding: 20px 0 0 400px; /* Сокращение отступа слева для планшетов */
            font-size: 18px; /* Уменьшение размера шрифта для планшетов */
        }
    }
    @media (max-width: 992px) {
        padding: 25px 15px; /* Минимальные отступы */
        &__descr {
            padding: 15px 0 0 100px; /* Сокращение отступа слева для небольших экранов */
            font-size: 16px; /* Уменьшение размера шрифта */
        }
    }
    @media (max-width: 767px) {
        min-height: 500px; /* Уменьшение минимальной высоты для мобильных устройств */
        padding: 20px; /* Единые минимальные отступы */
        &__descr {
            padding: 10px 0 0 20px; /* Уменьшение отступа слева для мобильных */
            font-size: 14px; /* Уменьшение размера шрифта */
            font-weight: 500; /* Уменьшение толщины шрифта */
        }
    }
    @media (max-width: 575px) {
        min-height: 400px; /* Еще меньше высота для очень маленьких экранов */
        padding: 15px; /* Минимальные отступы */
        &__descr {
            padding: 20px 0 0 10px; /* Уменьшение отступа слева для очень маленьких экранов */
            font-size: 12px; /* Уменьшение размера шрифта для более четкого отображения */
        }
    }
}
