@use 'base/variables' as vars;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    &__logo {
        width: 100px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: vars.$main-color;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        span {
            display: block;
            font-size: 20px;
            font-weight: 600;
        }
    }
    &__phone {
        display: block;
        color: vars.$main-color;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            color: vars.$button-color;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    /* Адаптация под разные разрешения */  
    @media (max-width: 1200px) {
        max-width: 90%; /* Уменьшение ширины для больших экранов */
        padding: 8px 0; /* Уменьшение отступов */
        &__official {
            font-size: 20px; /* Уменьшение размера шрифта для больших экранов */
        }
        &__phone {
            font-size: 15px; /* Уменьшение размера шрифта для телефона */
        }
    }
    @media (max-width: 992px) {
        flex-direction: column; /* Вертикальное расположение элементов на планшетах */
        align-items: center; /* Центрирование элементов */
        &__contacts {
            align-items: center; /* Центрирование контактной информации */
        }
        &__official {
            font-size: 18px; /* Уменьшение размера шрифта для официального текста */
        }
    }
    @media (max-width: 767px) {
        padding: 5px 0; /* Минимизация отступов для мобильных устройств */
        &__official {
            font-size: 16px; /* Уменьшение размера шрифта для официального текста */
        }
        &__phone {
            font-size: 14px; /* Уменьшение размера шрифта для телефона */
        }
    }
    @media (max-width: 575px) {
        padding: 10px; /* Увеличение отступов для удобства */
        &__official {
            font-size: 14px; /* Минимальный размер шрифта для официального текста */
        }
        &__phone {
            font-size: 12px; /* Минимальный размер шрифта для телефона */
        }
    }
}
